/* Developed by Islam Morata (vk.com/imorata69) & Tellarion (tellarion.com) */

@import url(http://allfont.ru/allfont.css?fonts=open-sans-light);
@import url(http://allfont.ru/allfont.css?fonts=open-sans-bold);
@import url(http://allfont.ru/allfont.css?fonts=roboto-light);
@import url(http://allfont.ru/allfont.css?fonts=arial-narrow);

 @font-face {
    font-family: GTA R;
    src: url(../fonts/gta_russian_regular.ttf);
   }

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	text-decoration: none;
}

a:link,a:visited {
	text-decoration:none;
}

body {
	font-family: 'Open Sans Light', arial;
	font-weight: normal;
	background: #f4f4f4;
}

::-webkit-scrollbar {
    background: transparent;
    width: 9px;
    padding: 0 5px;
}

::-webkit-scrollbar-thumb {
    background: #5076b5;
}

::selection {
	background: #83b2e6;
	color: #fff;
}

.block {
	overflow: hidden;
	height: 400px;
}

h3 {
	font-family: 'Roboto Light', arial;
	font-size: 50px;
	font-weight: nornal;
	color: #444;
	padding: 10px;
}

form {
	margin: 0 auto;
}

label {
	color: #555;
	display: inline-block;
	margin-left: 18px;
	padding-top: 10px;
	font-size: 14px;
}

input {
	font-size: 12px;
}

input[type=name],
input[type=email],
input[type=password],
input[type=money] {
	color: #777;
	padding-left: 10px;
	margin: 10px;
	margin-top: 12px;
	margin-left: 18px;
	width: 290px;
	height: 35px;
	border: 1px solid #c7d0d2;
	border-radius: 2px;
  outline: none;
}

input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		background-color: #476faa;
		color: #fff;
		border: 0;
		font-size: 0.9em;
		height: 2.15em;
		line-height: 2.15em;
		padding: 0 1.75em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
		border-radius: 10px;
    outline: none;
		/* margin-left: 20px; */
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		.button:hover {
			background-color: #232d33;
		}

.login {
	margin: auto;
	width: 340px;
	height: 280px;
	padding: 40px;
}

p {
	font-size: 13px;
	margin-top: 10px;
}

#wrap {
	width: 1024px;
	margin: auto;
	background: #fff;
	min-height: auto;
}

header {
	background: url('../img/header.jpg') top center no-repeat;
	height: 444px;
	min-width: 1024px;
}

.top {
	width: 1000px;
	margin: auto;
	right: 0;
}

.rubric {
	background: url('../img/top.jpg') top center no-repeat;
	height: 365px;
}

.rubrict {
	font-size: 70px;
	color: #fff;
	padding-top: 100px;
	font-family: 'Roboto Light', arial;
	font-weight: normal;
	text-shadow: 1px 1px #000;
	text-align: center;
}

.top h1 {
	font-size: 85px;
	color: #fff;
	padding-top: 100px;
	font-family: 'GTA R', arial;
	font-weight: normal;
	text-shadow: 1px 1px #000;
}

.top p {
	margin-top: 10px;
	font-size: 11.5px;
	color: #fff;
	font-weight: normal;
	width: 500px;
}

nav {
	background-color: fff;
	display: block;
}

nav li {
	display: inline-block;
	z-index: 100;
	color: #222;
}

nav li :hover {
	color: #222;
	background: #f9f9f9;
}

nav li a {
	text-decoration:none;
	padding: 18px;
	display: block;
	color: #222;
	font-size: 14px;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}
nav li.other {
	float: right;
}

#cmenu {
	width: 1024px;
	margin: auto;
}

#soc {
	float: right;
	letter-spacing: -20px;
	margin-right: 30px;
}

.logo {
	font-size: 15px;
	letter-spacing: 4px;
	color: #222;
}

.logo:hover {
	background: none;
	color: #cecece;
  }

.overlay{
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	z-index:100;
	background: #000;
	opacity: 0.8;
}
.box{
	position: fixed;
	top: -200px;
	left: 30%;
	right: 30%;
	background-color: #fff;
	color: #7F7F7F;
	padding: 20px;
	-moz-box-shadow: 0 1px 5px #333;
	webkit-box-shadow: 0 1px 5px #333;
	z-index: 101;
}

.box h1{
	margin: -20px -20px 0px -20px;
	padding: 10px;
	background: #222;
	color: #ffffff;
	font-size: 16px;
	font-family: 'Roboto Light', arial;
	font-weight: 100;
}
a.close {
	position: absolute;
	top: -10px;
	right: -10px;
	padding: 0;
	width: 20px;
	height: 20px;
	border: 2px solid #ccc;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	background-color: rgba(61, 61, 61, 0.8);
	-webkit-box-shadow: 0px 0px 10px #000;
	-moz-box-shadow: 0px 0px 10px #000;
	box-shadow: 0px 0px 10px #000;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	line-height: 20px;
	-webkit-transition: all ease .8s;
	-moz-transition: all ease .8s;
	-ms-transition: all ease .8s;
	-o-transition: all ease .8s;
	transition: all ease .8s;
}

a.close:before {
	color: rgba(255, 255, 255, 0.9);
	content: "X";
	text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
	font-size: 14px;
}
a.close:hover {
	background-color: rgb(92, 160, 210);
}

#othermenu {
	margin: 10px;
}

#othermenu ul {
	list-style: none;
}

#othermenu li a {
	height: 32px;
	height: 24px;
	font-size: 15px;
	text-decoration: none;
}

#othermenu li a:link, #othermenu li a:visited  {
	color: #000;
	display: block;
}

#othermenu li a:hover, #othermenu li #current {
	color: #222;
}

a.go{
	z-index:1;
}

.go:hover {
	background: none;
}

.fa-twitch {
	font-size: 17px !important;
	color: #6441a4;
}

.fa-bars {
	font-size: 21px !important;
	color: #555;
}

.fa-vk {
	color: #507299;
}

.fa-youtube-play {
	color: #cc181e;
}

.fa-twitch:hover {
	background: none;
}

.fa-vk:hover {
	color: #507299;
	background: none;
}

.fa-youtube-play:hover {
	background: none;
}

.news {
	padding: 20px;
	float: left;
}

.block {
	width: 550px;
	background: #fff;
	margin: auto;
	margin-top: 20px;
}

.news .pic {
    height: 190px;
    color: #fff;
}
.news .pic h1 {
    padding-top: 140px;
    font-size: 1.4rem;
    font-weight: 100;
    padding-left: 25px;
}
.news .pic span {
    font-size: .8rem;
    float: right;
    margin-right: 25px;
    border: 2px solid #fc0;
    padding: 7px;
    padding-top: 5px;
}
.news .text {
    font-weight: 100;
    line-height: 20px;
    font-size: .9rem;
    padding: 30px;
}

.alln {
	color: #000;
	margin-left: 40px;
	font-size: 13px;
	padding: 40px;
}

.bg {
	text-align: center;
	padding-top: 40px;
}

footer {
	clear: both;
	font-size: 13px;
	background: #111;
	padding: 11px;
	opacity: .99;
}

#copyright {
	width: 1024;
	margin: auto;
}

.home {
	float: right;
	margin-top: 2px;
	margin-right: 45px;
}

.block2 {
  float: right;
  text-align: center;
  width: 380px;
  position: relative;
  margin-top: 15px;
}

.blockavatar {
	float: left;
	text-align: center;
	position: relative;
	margin-top: 15px;
  padding: 6%;
}

.block2-title {
	transform: skew(-4deg);
	text-align: center;
	font-weight: normal;
	margin: auto;
	margin-bottom: 20px;
	margin-top: 20px;
	color: #fff;
	display: block;
	background: linear-gradient(to right,#122d5d 5%,#225ea9 50%,#225ea9 100%);
	padding: 11px;
	width: 300px;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
}

.vk .vk-box {
	width: 330px;
	height: 215px;
	background: #fff;
	overflow: hidden;
}
.vk .vk-box #vk-list {
	margin: -70px 0 0 -8px;
}
.vk a {
	margin-top: 30px;
}

.govk {
	-moz-appearance: none;
	-webkit-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	background: #4a6a9d;
	border-radius: 50px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 12px;
	height: 2.85em;
	line-height: 2.85em;
	margin-top: 30px;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	width: 155px;
}

.govk:hover {
	background: rgba(74, 106, 157, 0.85);
}

.govk .fa-vk {
	color: #fff;
	font-size: 17px;
}
.play {
	background-color: #222;
	text-align: center;
	font-size: 12px;
	color: #fff;
	padding: 10px;
	text-transform: uppercase;
}

.play:hover {
	background: #5076b5;
	color: #fff;
}

.ip {
	background: #5076b5;
	text-align:center;
	font-size: 12px;
	color: #fff;
	padding: 10px;
	letter-spacing: 0.1em;
}

.servers {
	background: #5076b5;
	text-align:center;
	font-size: 12px;
	color: #fff;
	padding: 10px;
	letter-spacing: 0.1em;
}


#Go_Top {
    position: fixed;
    bottom: 160px;
    left: 20px;
    background: #1d1d1d;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#Go_Top:hover {
    background: #4a6a9d;
}

.aboutus {
	margin: auto;
	margin-top: 30px;
}

.block3 {
	float: left;
	width: 210px;
	padding: 20px;
	text-align: center;
}

.block3:hover {
	color: #3b5586;
}

.block3-title {
	margin: -20px -10px 20px;
	padding: 20px;
	line-height: 1;
	font-size: 17px;
	color: #222;
	font-weight: normal;
	border-bottom: 1px dashed #d2d2d2;
	text-transform: uppercase;
}

.newsh6 {
	font-size: 12px;
	padding: 7px;
	border: 2px dotted #ccc;
	width: 170px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
	margin: auto;
}

.problem {
	font-size: 13px;
	font-weight: normal;
	text-align: center;
	padding-top: 23px;
	color: #222;
	width: 300px;
	margin: auto;
}

.problem a {
	color: #729de4;
}

.select-style {
    width: auto;
	max-width: 290px;
    background: #fff;
	margin: auto;
	margin-left: -0px;
	margin-left: 19px;
	margin-bottom: 5px;
  padding: 20px;
}

.select-style select {
    padding: 4px;
  	color: black;
  	text-align: center;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}



.avatar {
	width: 165px;
	height: 165px;
	margin-left: 30px;
	padding-top: 30px;
}

.avatar img {
	margin-top: 10px;
	width: 165px;
	height: 165px;
	background: url('../img/fonwrap.png') no-repeat;
	background-size: cover;
	border: 1px solid #e6e6e6;
}

progress {
  margin-top: 5px;
  border: 1px solid;
  border-color: black;
  margin: auto;

}

::-webkit-progress-bar {
    background: darkred;
}
::-webkit-progress-value {
    background: red;
}
::-moz-progress-bar {
    background: red;
}

.nickname {
	font-size: 20px;
	color: #333;
	text-align: center;
	padding: 3px;
	font-family: 'Open Sans Bold', arial;
}


.monit {
    float: left;
	margin-top: 30px;
    width: 618px;
    overflow: hidden;
    margin-bottom: 10px;
    background: #f9f9f9;
	border-left: 2px solid #e6e6e6;
	border-top: 2px solid #e6e6e6;
	border-bottom: 2px solid #e6e6e6;
}

.monit .status {
    float: left;
    width: 185px;
    color: #fff;
    text-align: center;
    padding: 10px;
	border-right: 1px solid #ccc;
}

.monit .status p {
	font-size: 17px;
	font-weight: normal;
	color: #777;
}

.monit .status h2 {
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	color: #333;
	font-family: 'Arial Narrow', arial;
}

.lcsats {
	float: left;
	margin-top: 100px;
	margin-left: 20px;
}

.fa-user-times {
	font-size: 16px !important;
}

.fa-refresh {
	font-size: 16px !important;
}

.user_stats ul {
	width: 289px;
	display: inline-block;
	list-style: none;
}

.user_stats ul.right {
	float:inherit;
	margin-left:19px;
}

.user_stats ul li {
	font-size: 13px;
	color: #222;
	padding-top:7px;
	border-bottom: 2px dotted #ddd;
	margin-top: 10px;
}
.user_stats ul li span {
	float: right;
	font-size: 15px;
	font-weight: normal;
	color: #5885bc;
	margin-top: -5px;
}

.user_stats ul li span.none {
	font-weight: bold;
	text-transform: uppercase;
	color: #dcdcdc;
}

.sstat {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 60px;
	margin-bottom: 60px;
}

.sstat-1 {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.sstat-1 p {
	font-size: 15px;
	text-align: center;
}

.navnew {
  display: inline-block;
}

.navnew ul {
  list-style-type: none;
  text-align: center;
  display: inline-block;
}

.navnew li {
  padding: 10px;
}

.history {
  margin-top: 20px;
  width: 100%;
  margin-bottom: 10px;
}

.history th {
  color: #fff;
  text-align: center;
  background: black;
  padding: 20px;
}

.history td {
  padding: 10px;
  text-align: center;
}

.homes {
  margin-top: 20px;
  width: 100%;
  margin-bottom: 10px;
}

.homes th {
  color: #fff;
  text-align: center;
  background: black;
  padding: 20px;
}

.homes td {
  padding: 10px;
  text-align: center;
}

.streamer {
  float: left;
  width: 50%;
  height: 40%;
}

.streamer td {
  padding: 10px;
  color: black;
  text-align: center;
}

.roulette {
	margin: auto;
	width: 750px;
	height: 380px;
	padding: 40px;
}

.bar {
  background: #476faa;
  background-size: 100%;
  width: 750px;
  height: 126px;
  margin: 0px auto;
  border-radius: 50px;
  overflow: hidden;
}

.redline {
  position: absolute;
  width: 2px;
  height: 126px;
  background: rgb(189, 110, 32);
  left: 50%;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 7px rgba(0, 0, 0, 1);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 7px rgba(0, 0, 0, 1);
  z-index: 3;
}

.spin {
  margin-left: 0px;
  margin-right: -100px;
}

.item {
  display: inline-block;
  color: #fff;
  height: 110px;
  width: 125px;
}

.item.milspec .about{
	background: url(../../assets/img/roulette/milspec.png) #4B69FF;
}
.item.restricted .about{
	background: url(../../assets/img/roulette/restricted.png) #8847FF;
}
.item.classified .about{
	background: url(../../assets/img/roulette/classified.png) #D32CE6;
}
.item.covert .about{
	background: url(../../assets/img/roulette/covert.png) #EB4B4B;
}
.item.rare .about{
	background: url(../../assets/img/roulette/gold.png) #FFD700;
}

.item .about {
  margin-top: -30px;
	height: 30px;
}

.item .about span {
  color: #fff;
  font-size: 11px;
	width: 114px;
	display: inline-block;
	padding: 2px 5px;
	line-height: 13px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.award {
  background: #476faa;
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: #fff;
}

.infblock {
	margin: auto;
	width: 750px;
	padding: 40px;
}

.stream {
  margin-top: 10px;
  float: left;
  margin-left: 4%;
  margin-right: 4%;
  width: 40%;
  padding: 10px;
  min-height: 221px;
  margin-bottom: 10px;
  color: #fff;
}

.twitch_logo {
  position: absolute;
  background: url("http://satorngaming.com/wp-content/uploads/2013/08/twitchtv-300x99.png") no-repeat;
  background-size: 50%;
  margin-top: 160px;
  margin-left: 250px;
  height: 99px;
  width: 300px;
}

.youtube_logo {
  position: absolute;
  background: url("http://www.tedxosakau.com/img/youtube.png") no-repeat;
  background-size: 40%;
  margin-left: 230px;
  margin-top: 120px;
  height: 312px;
  width: 512px;
}
